/*-----------------------------Modal----*/
.border-img{
    position: relative;
    text-align: center;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-head{
    color: #eccb7a;
    text-decoration: none;
    font-family: 'Balsamiq Sans', sans-serif;
    text-align: center;
}

.modal-text{
    color: #eccb7a;
    font-size: 16px;
    font-family: 'Balsamiq Sans', sans-serif;
}
.modal-btn{
    color:#050001;
    background-color:#eccb7a;
    font-family: 'Balsamiq Sans', sans-serif;
    font-size: 20px;
}
.modal-btn a:visited{
    color: #050001;
}
.modal-btn a:link{
    color: #050001;
}
.modal a:hover{
    color: #050001;
    text-decoration: none;
}
/*---------------------------COLORS----*/

.bg-black{
    background-color: #050001;
}
/*------------------------------------Image Styling----*/
.header-logo{
    height: 200px;
}
.equipment-img{
    height: 250px;
}
/*--------------------------------------Nav Styling---*/
.nav-style{
    background-color: #050001;
    font-family: 'Balsamiq Sans', sans-serif;
    font-size: 25px;
    color: #eccb7a;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
}

.nav-style a:link{
    color: #eccb7a;
}
.nav-style a:visited{
    color: #eccb7a;
}
.nav-style a:hover{
    background-color: #eccb7a;
    color: #050001;
}
.fa-home, .fa-glass, .fa-question{
    font-size: 25px;
}

/*-------------------------------------Footer Icons---*/
.fa-facebook-square, .fa-linkedin-square, .fa-instagram, .fa-pinterest-square{
    color: #eccb7a;
    font-size: 25px;
}

/*--------------------------------------------Text-Styling---*/
.footer-question{
    font-family: 'Balsamiq Sans', sans-serif;
    color: #eccb7a;
    font-size: 25px;
    text-align: center;
    font-style: italic;
}

.footer-question:hover{
    color: #cc9442;
}
.footer-question:visited{
    color: #eccb7a;
}
.text-style{
    font-family: 'Balsamiq Sans', sans-serif;
    color: #eccb7a;
}
h3 {
    text-transform: uppercase;
}


/*-------------------------Media Queries---*/

@media only screen and (max-device-width: 769px){
    .fa-facebook-square, .fa-instagram, .fa-linkedin-square, .fa-pinterest-square{
        font-size: 20px;
        padding: 2px;
    }
}
@media only screen and (max-device-width: 576px){
    .modal-text{
        font-size: 12px;
    }
    .modal-head{
        font-size: 14px;
    }
}